.login {
    background-image: linear-gradient(to left top, #d16ba5, #ab67a0, #876194, #675a82, #4f506c, #4d5873, #4c6179, #4c697e, #4f8ba4, #4dafc5, #4ed5df, #5ffbf1);
    background-repeat: no-repeat;
    background-position: center center;
    /* para que el background ocupe toda la pantalla */
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Noto Sans JP', sans-serif;
}

.login-form input {
    display: block;
    width: 80%;
    margin: auto;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 7px;
    border-style: none;
}

.login-form::placeholder {
    text-align: center;
}

.login-form button{
    display: block;
    width: 30%;
    background-color: #D68910;
    color: white;   
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
}

.login-form button:hover, a:hover {
    background-color: #1ABC9C;
    cursor: pointer;
}

.login-form-container {
    display: block;
    width: 30%;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    margin-top: 50px;
    background: rgb(52,58,64,.7);
    border-radius: 5%;            
}

.login-form {
    width: auto;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

.text-singup {
    text-align: center;
    color: white;
    margin-top: 25px;
}

.text-singup a {
    color: rgba(0,149,246,1);
}

body {
    font-family: Arial, sans-serif;
}

.warning-login {
    display: block;
    margin: auto;
    width: 30%;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    margin-top: 40px;
    margin-bottom: 10px;
    
    /* color: white; */
    border-radius: 3%;            
}

#succes-login {
    padding: 10px;
    background-color: #4CCA2A;
}

#fail-login {
    padding: 10px;
    background-color: red;
}