/* Navbar */

#logout_btn {
    margin-left: 5%;
    margin-right: 0%;
}
  
#profile_btn {
    margin-left: 15%;
    padding: 10px;
}
  
#search_bar {
    width: 150%;
    margin-left: 15%;
    margin-top: 0.2em;
}
  
#main_navbar {
    margin-top: 1em;
    background: white;
}