body {
    background-image: linear-gradient(to left top, #d16ba5, #ab67a0, #876194, #675a82, #4f506c, #4d5873, #4c6179, #4c697e, #4f8ba4, #4dafc5, #4ed5df, #5ffbf1);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: var(--dark);
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
    width: 50%;
    height: 28em;
    transform: translateY(25%);
    align-content: start;
}
  
.signup_form input, button, a, #alert {
    width: 80%;
    margin-left: 3em;
    text-align: center;
    padding: 0.7em;
}
  
#register_btn {
    margin-top: 1.5em;
}

.color_btn {
    background: #1D8348;
    border-color: #1D8348;
}