{% extends 'base.html' %}


{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<title>Instagram</title>
{% endblock head %}


{% block content %}



<body>
    {%for post in posts %}
    <div class="post">
        <header>

            <img src="{{ post.profile.picture.url }}" alt="{{ post.user.username }}'s profile picture" class="profile-thumbnail">


            <div class="profile-name">
                <h3>{{ post.user.get_full_name }}</h3>
                <h4>@{{ post.user.username }}</h4>
            </div>
            <div class="follow-btn">
                <button>Seguir</button>
            </div>
        </header>

        <div id="inner">
            <p>{{ post.title }}</p>
            <img src="{{ post.photo.url }}">
            <span class="date">{{ post.created }}</span>
            <hr>
        </div>
    </div>
    {% endfor %}


    <!-- <p>Hola</p>

    {{ posts }}

    {%for post in posts %}
    <div class="fullCard" id="thumbnail">
        <div class="cardContent">
            <div class="cardText">
                <img id="user-profile" src="#" alt="profile_picture">
                <p id="username">@{{ post.user.username }}</p>
                <p id="name">{{ post.user.get_full_name }}</p>
                <p id="description-post">{{ post.title}}</p>
                <img id="post-content" src="{{ post.photo.url }}">
                <p id="description-post"><i>{{ post.created }}</i></p>
            </div>
        </div>
    </div>
    <br><br>
    {% endfor %} -->

</body>

{% endblock content %}