{% extends 'base.html' %} 


{% block head %}
    {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Instagram</title>
{% endblock head %}


{% block content %}

<body>
    
<p>Hola</p>

{{ posts }}

{%for post in posts %}
    <div class="fullCard" id="thumbnail">
        <div class="cardContent">
            <div class="cardText">
                <img id="user-profile" src="#" alt="profile_picture">
                <p id="username">@{{ post.user.username }}</p>
                <p id="name">{{ post.user.get_full_name }}</p>
                <p id="description-post">{{ post.title}}</p>
                <img id="post-content" src="{{ post.photo.url }}">
                <p id="description-post"><i>{{ post.created }}</i></p>
            </div>
        </div>
    </div>
    <br><br>
{% endfor %}</body>

{% endblock content %}  