{% extends 'base.html' %}


{% block head %}
{% load static %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="css/login.css">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">
<title>Log in</title>
{% endblock head %}


{% block content %}

<body class="login">

    {% if messages %}
    <div class="warning-login">
        {% for message in messages %}
        <p id="succes-login"><strong>{{ message }}</strong></p>
        {% endfor %}
    </div>
    {% endif %}


    {% if form.errors %}
    <div class="warning-login">

        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <p id="fail-login"><strong>{{ error }}</strong></p>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <p id="fail-login"><strong>{{ error }}</strong></p>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="login-form-container">
        <form action="{% url 'users:login' %}" method="POST" class="login-form">{% csrf_token %}
            <label for="username"></label>
            <input type="text" class="username" id="username" name="username" placeholder="Username" required>

            <label for="password"></label>
            <input type="password" class="password" id="password" name="password" placeholder="Password"
                autocapitalize="off" required>

            <!-- <input type="submit" value="Enviar"/> -->

            <button type="submit">Login</button>
            <p class="text-singup">Don't have an account? <a class="text-singup" href="{% url 'users:signup' %}">Sign
                    up!</a></p>
        </form>
    </div>
</body>
{% endblock content %}