{% extends 'base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">
<title>Register!</title>
{% endblock head %}

{% block content %}


{% if form.errors %}
<div class="warning-alert">

    {% for field in form %}
    {% for error in field.errors %}
    <div>
        <p id="fail-alert"><strong>{{ error }}</strong></p>
    </div>
    {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    <div>
        <p id="fail-alert"><strong>{{ error }}</strong></p>
    </div>
    {% endfor %}
</div>
{% endif %}

<body>
    <div class="login-form-container">
        <form action="{% url 'users:signup' %}" method="POST" class="login-form"> {% csrf_token %}
            <label for="email"></label>
            <input type="email" class="email" id="email" placeholder="Email" name="email" maxlength="100" required>

            <label for="username"></label>
            <input type="text" class="username" id="username" placeholder="Username" name="username" maxlength="100"
                required>

            <label for="password"></label>
            <input type="password" class="password" id="password" placeholder="Password" name="password"
                autocapitalize="off" minlength="7" required>

            <label for="confir-password"></label>
            <input type="password" class="password" id="password" placeholder="Confirm password" name="password_confirm"
                minlength="7" autocapitalize="off" required>


            <label for="first-name"></label>
            <input type="text" class="first-name" id="first-name" name="first_name" maxlength="100"
                placeholder="First name" required>

            <label for="last-name"></label>
            <input type="text" class="last-name" id="last-name" name="last_name" maxlength="100" placeholder="Last name"
                required>

            <button type="submit">Sign up</button>
            <p class="text-singup">Already have an account? <a class="text-singup"
                    href="{% url 'users:login' %}">Login!</a></p>

        </form>
    </div>
</body>
{% endblock content %}